@page
@model Shop.Pages.Admin.IndexModel
@inject Shop.Models.ProductModel products 
@inject Shop.Models.OrderModel orders 
@inject Shop.Data.ApplicationDbContext context
@inject Microsoft.AspNetCore.Identity.UserManager<IdentityUser> userManager
@{ 
    ViewBag.Title = "Dashboard";
}

<div class="content">
    <div class="container-fluid">   
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-warning text-center">
                                    <i class="ti-eye"></i>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers">
                                    <p>Total Visitors</p>
                                    11022 
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            <hr />
                            <div class="stats">
                                <i class="ti-panel"></i> Details
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-success text-center">
                                    <i class="ti-archive"></i>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers">
                                    <a asp-area="Admin" asp-controller="products" asp-action="index">
                                        <p>Products</p>
                                        @context.Products.Where(a => a.Id > 0).Count()
                                    </a>

                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            <hr />
                            <div class="stats">
                                <i class="ti-panel"></i> Details
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-danger text-center">
                                    <i class="ti-shopping-cart-full"></i>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers"> 
                                    <a asp-area="Admin" asp-controller="orders" asp-action="index">
                                        <p>Orders</p>
                                        @context.Orders.Where(a => a.Id > 0 ).Count()
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            <hr />
                            <div class="stats">
                                <i class="ti-panel"></i> Details
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-info text-center">
                                    <i class="ti-user"></i>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers"> 
                                    <a asp-area="admin" asp-controller="user" asp-action="index">
                                        <p>Users</p>
                                        @userManager.Users.Count()
                                    </a>
                                </div>

                            </div>
                        </div>
                        <div class="footer">
                            <hr />
                            <div class="stats">
                                <i class="ti-panel"></i> Details
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>