@model Shop.ModelViews.AdminSignup

@{
    Layout = null; 
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sign Up</title>

    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="~/css/heroic-features.css" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
  

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-12" id="register">

                <div class="card col-md-8">
                    <div class="card-body">
                        <h2 class="card-title">Sign Up</h2>
                        <hr>
                        <form asp-area="admin" asp-controller="user" asp-action="signup">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Email">Email:</label>
                                <input asp-for="Email" placeholder="Email" id="email" class="form-control">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Password">Password:</label>
                                <input asp-for="Password" placeholder="Password" id="password" class="form-control">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Name">Name:</label>
                                <input asp-for="Name" placeholder="Name" id="name" class="form-control">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <button class="btn btn-outline-info col-md-2"> Sign Up</button>
                            </div>

                        </form>

                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
