@model IEnumerable<Shop.Data.Tables.Product>
@{
    ViewData["Title"] = "HomePage";
}

<!-- Jumbotron Header -->
<header class="jumbotron my-4">
    <h5 class="display-3"><strong>
    Welcome,
    @if (User.Identity.IsAuthenticated && User.IsInRole("User"))
    {
       @User.Identity.Name
    }

</strong></h5>
    <p class="display-4"><strong>SALE UPTO 50%</strong></p>
    <p class="display-4">&nbsp;</p>
    <a href="#" class="btn btn-warning btn-lg float-right">SHOP NOW!</a>
</header>

<!-- Page Features -->
<div class="row text-center">
    @foreach (var item in Model)
    {
    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card">
            <img class="card-img-top" src="~/@item.Image" alt="">
            <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                <p class="card-text">
                  @item.Description
                </p>
            </div>
            <div class="card-footer">
                <strong>$@item.Price</strong> &nbsp;
                <a href="#" class="btn btn-primary btn-outline-dark">
                    <i class="fa fa-cart-plus "></i> Add To
                    Cart
                </a>
            </div>
        </div>
    </div>
    }


</div>