@model Shop.ModelViews.UserSignup
@{ 
    ViewData["Title"] = "Sign Up";
}

<div class="container">

    <div class="row">

        <div class="col-md-12" id="register">

            <div class="card col-md-8">
                <div class="card-body">
                    <h2 class="card-title">Sign Up</h2>
                    <hr>
                    <form asp-area="user" asp-controller="home" asp-action="Signup">
                        <div class="form-group">
                            <label asp-for="Name"></label>
                            <input asp-for="Name" placeholder="Name" id="Name" class="form-control">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" placeholder="Email" id="email" class="form-control">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        
                        <div class="form-group">
                            <label asp-for="Phone"></label>
                            <input asp-for="Phone" placeholder="Phone" id="phone" class="form-control">
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                        
                        <div class="form-group">
                            <label asp-for="Address"></label>
                            <input asp-for="Address" placeholder="Address" id="address" class="form-control">
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Password"></label>
                            <input asp-for="Password" placeholder="Password" id="password" class="form-control">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword"></label>
                            <input asp-for="ConfirmPassword" placeholder="Confirm Password" id="password" class="form-control">
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>


                        <div class="form-group">
                            <button class="btn btn-outline-info col-md-2"> Sign Up</button>
                        </div>

                    </form>

                </div>
            </div>

        </div>

    </div>

</div>
